{
	"openapi": "3.0.1",
	"info": {
		"title": "newgraph-api-eu-prod",
		"version": "2025-01-16T16:16:47Z"
	},
	"servers": [
		{
			"url": "https://api.newgra.ph/{basePath}",
			"variables": {
				"basePath": {
					"default": "v1"
				}
			}
		}
	],
	"paths": {
		"/info-auth": {
			"get": {
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {}
					},
					"400": {
						"description": "400 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "401 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "403 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "404 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"409": {
						"description": "409 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "500 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"lambdaAuthorizer": []
					}
				],
				"x-amazon-apigateway-integration": {
					"type": "aws",
					"httpMethod": "POST",
					"uri": "arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/arn:aws:lambda:eu-west-1:909716694714:function:newgraph-api-eu-prod-info-authorized/invocations",
					"responses": {
						".*\"statusCode\":409,.*": {
							"statusCode": "409",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "$input.path(\"$.body\")"
							}
						},
						".*\"statusCode\":400,.*": {
							"statusCode": "400",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":401,.*": {
							"statusCode": "401",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":403,.*": {
							"statusCode": "403",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":404,.*": {
							"statusCode": "404",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":500,.*": {
							"statusCode": "500",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						}
					},
					"requestTemplates": {
						"application/json": "\n    #set( $body = $input.json(\"$\") )\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  ",
						"application/x-www-form-urlencoded": "\n    #define( $body )\n      {\n      #foreach( $token in $input.path('$').split('&') )\n        #set( $keyVal = $token.split('=') )\n        #set( $keyValSize = $keyVal.size() )\n        #if( $keyValSize >= 1 )\n          #set( $key = $util.escapeJavaScript($util.urlDecode($keyVal[0])) )\n          #if( $keyValSize >= 2 )\n            #set($val = $util.escapeJavaScript($util.urlDecode($keyVal[1])).replaceAll(\"\\\\'\",\"'\"))\n          #else\n            #set( $val = '' )\n          #end\n          \"$key\": \"$val\"#if($foreach.hasNext),#end\n        #end\n      #end\n      }\n    #end\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  "
					},
					"passthroughBehavior": "never"
				}
			},
			"options": {
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Methods": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Headers": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {}
					}
				},
				"x-amazon-apigateway-integration": {
					"type": "mock",
					"responses": {
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Access-Control-Allow-Methods": "'OPTIONS,GET'",
								"method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,X-Amz-User-Agent,X-Amzn-Trace-Id'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							}
						}
					},
					"requestTemplates": {
						"application/json": "{statusCode:200}"
					},
					"passthroughBehavior": "when_no_match",
					"contentHandling": "CONVERT_TO_TEXT"
				}
			}
		},
		"/mood/access/grant": {
			"post": {
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MoodGrantAccessRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MoodGrantAccessResponse"
								}
							}
						}
					},
					"400": {
						"description": "400 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "401 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "403 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "404 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"409": {
						"description": "409 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "500 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"newgraph-api-eu-prod": []
					}
				],
				"x-amazon-apigateway-integration": {
					"type": "aws",
					"httpMethod": "POST",
					"uri": "arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/arn:aws:lambda:eu-west-1:909716694714:function:newgraph-api-eu-prod-mood-eu-prod-mood-grant-access/invocations",
					"responses": {
						".*\"statusCode\":409,.*": {
							"statusCode": "409",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "$input.path(\"$.body\")"
							}
						},
						".*\"statusCode\":400,.*": {
							"statusCode": "400",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":401,.*": {
							"statusCode": "401",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":403,.*": {
							"statusCode": "403",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":404,.*": {
							"statusCode": "404",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":500,.*": {
							"statusCode": "500",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						}
					},
					"requestTemplates": {
						"application/json": "\n    #set( $body = $input.json(\"$\") )\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  ",
						"application/x-www-form-urlencoded": "\n    #define( $body )\n      {\n      #foreach( $token in $input.path('$').split('&') )\n        #set( $keyVal = $token.split('=') )\n        #set( $keyValSize = $keyVal.size() )\n        #if( $keyValSize >= 1 )\n          #set( $key = $util.escapeJavaScript($util.urlDecode($keyVal[0])) )\n          #if( $keyValSize >= 2 )\n            #set($val = $util.escapeJavaScript($util.urlDecode($keyVal[1])).replaceAll(\"\\\\'\",\"'\"))\n          #else\n            #set( $val = '' )\n          #end\n          \"$key\": \"$val\"#if($foreach.hasNext),#end\n        #end\n      #end\n      }\n    #end\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  "
					},
					"passthroughBehavior": "never"
				}
			},
			"options": {
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Methods": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Headers": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {}
					}
				},
				"x-amazon-apigateway-integration": {
					"type": "mock",
					"responses": {
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Access-Control-Allow-Methods": "'OPTIONS,POST'",
								"method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,X-Amz-User-Agent,X-Amzn-Trace-Id'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							}
						}
					},
					"requestTemplates": {
						"application/json": "{statusCode:200}"
					},
					"passthroughBehavior": "when_no_match",
					"contentHandling": "CONVERT_TO_TEXT"
				}
			}
		},
		"/post": {
			"get": {
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PostReadResponse"
								}
							}
						}
					},
					"400": {
						"description": "400 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "401 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "403 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "404 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"409": {
						"description": "409 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "500 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				},
				"x-amazon-apigateway-integration": {
					"type": "aws",
					"httpMethod": "POST",
					"uri": "arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/arn:aws:lambda:eu-west-1:909716694714:function:newgraph-api-eu-prod-post-eu-prod-post-read/invocations",
					"responses": {
						".*\"statusCode\":409,.*": {
							"statusCode": "409",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"text/html": "#set ($context.responseOverride.header.Content-Type = \"text/html\")\n#set ($post = $util.parseJson($input.path(\"$.body\")))\n#set ($domain = \"os.newcoin.org\")\n#set ($cdn = \"cdn.newgra.ph\")\n\n#set ($url = \"https://${domain}/post/$post.id\")\n#set ($description = $util.escapeJavaScript($post.description))\n\n#if( $item.author.displayName == \"\" )\n#set ($author = $util.escapeJavaScript($post.author.username))\n#else\n#set ($author = $util.escapeJavaScript($post.author.displayName))\n#end\n\n#if( $post.title == \"\" )\n#set ($title = $author)\n#else\n#set ($title = $util.escapeJavaScript($post.title))\n#end\n\n#set ($image = \"https://${cdn}/images/$post.id/500x500/${post.contentUrl}\")\n<html lang=\"en\">\n<head>\n  <!-- Primary Meta Tags -->\n  <title>${title}</title>\n  <meta name=\"description\" content=\"$description\" />\n  <meta name=\"author\" content=\"$author\" />\n  <meta name=\"url\" content=\"$url\">\n  <meta name=\"keywords\" content=\"\">\n\n  <meta itemprop=\"name\" content=\"$title\" />\n  <meta itemprop=\"image\" content=\"$image\" />\n  <meta itemprop=\"description\" content=\"$description\" />\n\n  <!-- Open Graph / Facebook -->\n  <meta property=\"og:image\" content=\"$image\" />\n  <meta property=\"og:title\" content=\"$title\" />\n  <meta property=\"og:type\" content=\"article\" />\n  <meta property=\"og:description\" content=\"$description\" />\n  <meta property=\"og:url\" content=\"$url\" />\n  <meta property=\"og:site_name\" content=\"${domain}\" />\n\n  <!-- Open Graph / Articles -->\n  <meta property=\"article:author\" content=\"$author\" />\n  <meta property=\"article:published_time\" content=\"$post.created\" />\n  <meta property=\"article:section\" content=\"$description\" />\n\n  <!-- Twitter -->\n  <meta name=\"twitter:card\" content=\"summary_large_image\">\n  <meta name=\"twitter:title\" content=\"$title\">\n  <meta name=\"twitter:description\" content=\"$description\">\n  <meta name=\"twitter:image\" content=\"$image\">\n  <meta name=\"twitter:url\" content=\"$url\">\n  <meta name=\"twitter:image:alt\" content=\"$title\">\n\n  <!-- Icons / Minimal -->\n  <link rel=\"icon\" type=\"image/svg+xml\" href=\"https://${domain}/favicon.svg\">\n  <link rel=\"icon\" type=\"image/png\" href=\"https://${domain}/favicon.png\">\n  <link rel=\"manifest\" href=\"https://${domain}/manifest.json\">\n  <link rel=\"apple-touch-icon\" href=\"https://${domain}/favicon.png\">\n\n  <!-- meta http-equiv=\"refresh\" content=\"2;url=$url\" / -->\n\n</head>\n<body>\n<!-- $post.id -->\n<script>\n  window.location = \"/?path=\" + window.location.pathname;\n</script>\n<!-- <img src=\"\"> -->\n<noscript>\n  <a href=\"$url\">$url</a>\n</noscript>\n</body>\n</html>\n\n",
								"application/json": "$input.path(\"$.body\")"
							}
						},
						".*\"statusCode\":400,.*": {
							"statusCode": "400",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":401,.*": {
							"statusCode": "401",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":403,.*": {
							"statusCode": "403",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":404,.*": {
							"statusCode": "404",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":500,.*": {
							"statusCode": "500",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						}
					},
					"requestParameters": {
						"integration.request.querystring.id": "method.request.querystring.id"
					},
					"requestTemplates": {
						"application/json": "\n    #set( $body = $input.json(\"$\") )\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  ",
						"application/x-www-form-urlencoded": "\n    #define( $body )\n      {\n      #foreach( $token in $input.path('$').split('&') )\n        #set( $keyVal = $token.split('=') )\n        #set( $keyValSize = $keyVal.size() )\n        #if( $keyValSize >= 1 )\n          #set( $key = $util.escapeJavaScript($util.urlDecode($keyVal[0])) )\n          #if( $keyValSize >= 2 )\n            #set($val = $util.escapeJavaScript($util.urlDecode($keyVal[1])).replaceAll(\"\\\\'\",\"'\"))\n          #else\n            #set( $val = '' )\n          #end\n          \"$key\": \"$val\"#if($foreach.hasNext),#end\n        #end\n      #end\n      }\n    #end\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  "
					},
					"passthroughBehavior": "never"
				}
			},
			"put": {
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PostUpdateRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PostReadResponse"
								}
							}
						}
					},
					"400": {
						"description": "400 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "401 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "403 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "404 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"409": {
						"description": "409 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "500 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"newgraph-api-eu-prod": []
					}
				],
				"x-amazon-apigateway-integration": {
					"type": "aws",
					"httpMethod": "POST",
					"uri": "arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/arn:aws:lambda:eu-west-1:909716694714:function:newgraph-api-eu-prod-post-eu-prod-post-update/invocations",
					"responses": {
						".*\"statusCode\":409,.*": {
							"statusCode": "409",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "$input.path(\"$.body\")"
							}
						},
						".*\"statusCode\":400,.*": {
							"statusCode": "400",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":401,.*": {
							"statusCode": "401",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":403,.*": {
							"statusCode": "403",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":404,.*": {
							"statusCode": "404",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":500,.*": {
							"statusCode": "500",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						}
					},
					"requestTemplates": {
						"application/json": "\n    #set( $body = $input.json(\"$\") )\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  ",
						"application/x-www-form-urlencoded": "\n    #define( $body )\n      {\n      #foreach( $token in $input.path('$').split('&') )\n        #set( $keyVal = $token.split('=') )\n        #set( $keyValSize = $keyVal.size() )\n        #if( $keyValSize >= 1 )\n          #set( $key = $util.escapeJavaScript($util.urlDecode($keyVal[0])) )\n          #if( $keyValSize >= 2 )\n            #set($val = $util.escapeJavaScript($util.urlDecode($keyVal[1])).replaceAll(\"\\\\'\",\"'\"))\n          #else\n            #set( $val = '' )\n          #end\n          \"$key\": \"$val\"#if($foreach.hasNext),#end\n        #end\n      #end\n      }\n    #end\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  "
					},
					"passthroughBehavior": "never"
				}
			},
			"post": {
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PostCreateRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PostCreateResponse"
								}
							}
						}
					},
					"400": {
						"description": "400 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "401 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "403 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "404 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"409": {
						"description": "409 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "500 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"newgraph-api-eu-prod": []
					}
				],
				"x-amazon-apigateway-integration": {
					"type": "aws",
					"httpMethod": "POST",
					"uri": "arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/arn:aws:lambda:eu-west-1:909716694714:function:newgraph-api-eu-prod-post-eu-prod-post-create/invocations",
					"responses": {
						".*\"statusCode\":409,.*": {
							"statusCode": "409",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "$input.path(\"$.body\")"
							}
						},
						".*\"statusCode\":400,.*": {
							"statusCode": "400",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":401,.*": {
							"statusCode": "401",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":403,.*": {
							"statusCode": "403",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":404,.*": {
							"statusCode": "404",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":500,.*": {
							"statusCode": "500",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						}
					},
					"requestTemplates": {
						"application/json": "\n    #set( $body = $input.json(\"$\") )\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  ",
						"application/x-www-form-urlencoded": "\n    #define( $body )\n      {\n      #foreach( $token in $input.path('$').split('&') )\n        #set( $keyVal = $token.split('=') )\n        #set( $keyValSize = $keyVal.size() )\n        #if( $keyValSize >= 1 )\n          #set( $key = $util.escapeJavaScript($util.urlDecode($keyVal[0])) )\n          #if( $keyValSize >= 2 )\n            #set($val = $util.escapeJavaScript($util.urlDecode($keyVal[1])).replaceAll(\"\\\\'\",\"'\"))\n          #else\n            #set( $val = '' )\n          #end\n          \"$key\": \"$val\"#if($foreach.hasNext),#end\n        #end\n      #end\n      }\n    #end\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  "
					},
					"passthroughBehavior": "never"
				}
			},
			"delete": {
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/NodeRequestPost"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OkResponse"
								}
							}
						}
					},
					"400": {
						"description": "400 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "401 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "403 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "404 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"409": {
						"description": "409 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "500 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"newgraph-api-eu-prod": []
					}
				],
				"x-amazon-apigateway-integration": {
					"type": "aws",
					"httpMethod": "POST",
					"uri": "arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/arn:aws:lambda:eu-west-1:909716694714:function:newgraph-api-eu-prod-post-eu-prod-post-delete/invocations",
					"responses": {
						".*\"statusCode\":409,.*": {
							"statusCode": "409",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "$input.path(\"$.body\")"
							}
						},
						".*\"statusCode\":400,.*": {
							"statusCode": "400",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":401,.*": {
							"statusCode": "401",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":403,.*": {
							"statusCode": "403",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":404,.*": {
							"statusCode": "404",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":500,.*": {
							"statusCode": "500",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						}
					},
					"requestTemplates": {
						"application/json": "\n    #set( $body = $input.json(\"$\") )\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  ",
						"application/x-www-form-urlencoded": "\n    #define( $body )\n      {\n      #foreach( $token in $input.path('$').split('&') )\n        #set( $keyVal = $token.split('=') )\n        #set( $keyValSize = $keyVal.size() )\n        #if( $keyValSize >= 1 )\n          #set( $key = $util.escapeJavaScript($util.urlDecode($keyVal[0])) )\n          #if( $keyValSize >= 2 )\n            #set($val = $util.escapeJavaScript($util.urlDecode($keyVal[1])).replaceAll(\"\\\\'\",\"'\"))\n          #else\n            #set( $val = '' )\n          #end\n          \"$key\": \"$val\"#if($foreach.hasNext),#end\n        #end\n      #end\n      }\n    #end\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  "
					},
					"passthroughBehavior": "never"
				}
			},
			"options": {
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Methods": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Headers": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {}
					}
				},
				"x-amazon-apigateway-integration": {
					"type": "mock",
					"responses": {
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Access-Control-Allow-Methods": "'OPTIONS,DELETE,PUT,GET,POST'",
								"method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,X-Amz-User-Agent,X-Amzn-Trace-Id'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							}
						}
					},
					"requestTemplates": {
						"application/json": "{statusCode:200}"
					},
					"passthroughBehavior": "when_no_match",
					"contentHandling": "CONVERT_TO_TEXT"
				}
			}
		},
		"/user/activityManifest": {
			"get": {
				"parameters": [
					{
						"name": "since",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AnyResponse"
								}
							}
						}
					},
					"400": {
						"description": "400 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "401 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "403 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "404 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"409": {
						"description": "409 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "500 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"newgraph-api-eu-prod": []
					}
				],
				"x-amazon-apigateway-integration": {
					"type": "aws",
					"httpMethod": "POST",
					"uri": "arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/arn:aws:lambda:eu-west-1:909716694714:function:newgraph-api-eu-prod-user-eu-prod-activityManifest/invocations",
					"responses": {
						".*\"statusCode\":409,.*": {
							"statusCode": "409",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "$input.path(\"$.body\")"
							}
						},
						".*\"statusCode\":400,.*": {
							"statusCode": "400",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":401,.*": {
							"statusCode": "401",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":403,.*": {
							"statusCode": "403",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":404,.*": {
							"statusCode": "404",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":500,.*": {
							"statusCode": "500",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						}
					},
					"requestParameters": {
						"integration.request.querystring.since": "method.request.querystring.since"
					},
					"requestTemplates": {
						"application/json": "\n    #set( $body = $input.json(\"$\") )\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  ",
						"application/x-www-form-urlencoded": "\n    #define( $body )\n      {\n      #foreach( $token in $input.path('$').split('&') )\n        #set( $keyVal = $token.split('=') )\n        #set( $keyValSize = $keyVal.size() )\n        #if( $keyValSize >= 1 )\n          #set( $key = $util.escapeJavaScript($util.urlDecode($keyVal[0])) )\n          #if( $keyValSize >= 2 )\n            #set($val = $util.escapeJavaScript($util.urlDecode($keyVal[1])).replaceAll(\"\\\\'\",\"'\"))\n          #else\n            #set( $val = '' )\n          #end\n          \"$key\": \"$val\"#if($foreach.hasNext),#end\n        #end\n      #end\n      }\n    #end\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  "
					},
					"passthroughBehavior": "never"
				}
			},
			"options": {
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Methods": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Headers": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {}
					}
				},
				"x-amazon-apigateway-integration": {
					"type": "mock",
					"responses": {
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Access-Control-Allow-Methods": "'OPTIONS,GET'",
								"method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,X-Amz-User-Agent,X-Amzn-Trace-Id'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							}
						}
					},
					"requestTemplates": {
						"application/json": "{statusCode:200}"
					},
					"passthroughBehavior": "when_no_match",
					"contentHandling": "CONVERT_TO_TEXT"
				}
			}
		},
		"/mood/access/grantees": {
			"get": {
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/MoodListGranteesResponse"
								}
							}
						}
					},
					"400": {
						"description": "400 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "401 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "403 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "404 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"409": {
						"description": "409 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "500 response",
						"headers": {
							"Cache-Control": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Vary": {
								"schema": {
									"type": "string"
								}
							},
							"Last-Modified": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				},
				"x-amazon-apigateway-integration": {
					"type": "aws",
					"httpMethod": "POST",
					"uri": "arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/arn:aws:lambda:eu-west-1:909716694714:function:newgraph-api-eu-prod-mood-eu-prod-mood-grantees-list/invocations",
					"responses": {
						".*\"statusCode\":409,.*": {
							"statusCode": "409",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "$input.path(\"$.body\")"
							}
						},
						".*\"statusCode\":400,.*": {
							"statusCode": "400",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":401,.*": {
							"statusCode": "401",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":403,.*": {
							"statusCode": "403",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":404,.*": {
							"statusCode": "404",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":500,.*": {
							"statusCode": "500",
							"responseParameters": {
								"method.response.header.Cache-Control": "'public, max-age=300'",
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Last-Modified": "integration.response.header.Last-Modified",
								"method.response.header.Access-Control-Allow-Origin": "'*'",
								"method.response.header.Vary": "'origin'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						}
					},
					"requestParameters": {
						"integration.request.querystring.page": "method.request.querystring.page",
						"integration.request.querystring.id": "method.request.querystring.id"
					},
					"requestTemplates": {
						"application/json": "\n    #set( $body = $input.json(\"$\") )\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  ",
						"application/x-www-form-urlencoded": "\n    #define( $body )\n      {\n      #foreach( $token in $input.path('$').split('&') )\n        #set( $keyVal = $token.split('=') )\n        #set( $keyValSize = $keyVal.size() )\n        #if( $keyValSize >= 1 )\n          #set( $key = $util.escapeJavaScript($util.urlDecode($keyVal[0])) )\n          #if( $keyValSize >= 2 )\n            #set($val = $util.escapeJavaScript($util.urlDecode($keyVal[1])).replaceAll(\"\\\\'\",\"'\"))\n          #else\n            #set( $val = '' )\n          #end\n          \"$key\": \"$val\"#if($foreach.hasNext),#end\n        #end\n      #end\n      }\n    #end\n\n    \n  #define( $loop )\n    {\n    #foreach($key in $map.keySet())\n        #set( $k = $util.escapeJavaScript($key) )\n        #set( $v = $util.escapeJavaScript($map.get($key)).replaceAll(\"\\\\'\", \"'\") )\n        \"$k\":\n          \"$v\"\n          #if( $foreach.hasNext ) , #end\n    #end\n    }\n  #end\n\n  {\n    \"body\": $body,\n    \"method\": \"$context.httpMethod\",\n    \"principalId\": \"$context.authorizer.principalId\",\n    \"stage\": \"$context.stage\",\n\n    \"cognitoPoolClaims\" : {\n       \n       \"sub\": \"$context.authorizer.claims.sub\"\n    },\n\n    #set( $map = $context.authorizer )\n    \"enhancedAuthContext\": $loop,\n\n    #set( $map = $input.params().header )\n    \"headers\": $loop,\n\n    #set( $map = $input.params().querystring )\n    \"query\": $loop,\n\n    #set( $map = $input.params().path )\n    \"path\": $loop,\n\n    #set( $map = $context.identity )\n    \"identity\": $loop,\n\n    #set( $map = $stageVariables )\n    \"stageVariables\": $loop,\n\n    \"requestPath\": \"$context.resourcePath\"\n  }\n\n  "
					},
					"passthroughBehavior": "never"
				}
			},
			"options": {
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Methods": {
								"schema": {
									"type": "string"
								}
							},
							"Access-Control-Allow-Headers": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {}
					}
				},
				"x-amazon-apigateway-integration": {
					"type": "mock",
					"responses": {
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Access-Control-Allow-Methods": "'OPTIONS,GET'",
								"method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,X-Amz-User-Agent,X-Amzn-Trace-Id'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							}
						}
					},
					"requestTemplates": {
						"application/json": "{statusCode:200}"
					},
					"passthroughBehavior": "when_no_match",
					"contentHandling": "CONVERT_TO_TEXT"
				}
			}
		},
		"/payment/stripe/checkoutSession": {
			"post": {
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/StripeCheckoutSessionCreateRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "200 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StripeCheckoutSessionCreateResponse"
								}
							}
						}
					},
					"400": {
						"description": "400 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "401 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "403 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "404 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"409": {
						"description": "409 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "500 response",
						"headers": {
							"Access-Control-Allow-Origin": {
								"schema": {
									"type": "string"
								}
							},
							"Content-Type": {
								"schema": {
									"type": "string"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"newgraph-api-eu-prod": []
					}
				],
				"x-amazon-apigateway-integration": {
					"type": "aws",
					"httpMethod": "POST",
					"uri": "arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/arn:aws:lambda:eu-west-1:909716694714:function:newgraph-api-eu-prod-payment-eu-prod-stripe-checkout-create/invocations",
					"responses": {
						".*\"statusCode\":409,.*": {
							"statusCode": "409",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						"default": {
							"statusCode": "200",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "$input.path(\"$.body\")"
							}
						},
						".*\"statusCode\":400,.*": {
							"statusCode": "400",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":401,.*": {
							"statusCode": "401",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":403,.*": {
							"statusCode": "403",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":404,.*": {
							"statusCode": "404",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						},
						".*\"statusCode\":500,.*": {
							"statusCode": "500",
							"responseParameters": {
								"method.response.header.Content-Type": "'application/json'",
								"method.response.header.Access-Control-Allow-Origin": "'*'"
							},
							"responseTemplates": {
								"application/json": "#set ($err = $util.parseJson($input.path(\"$.errorMessage\")))\n$err.errorMessage"
							}
						}
					},
					"requestTemplates": {
[...]
